<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="assets/style1.css">

    
    <title>오늘 뭐 먹지?</title>
  </head>
  <nav>
    <h1>오늘 뭐 먹지?</h1>
  </nav>
  <body>
    <div class="layer">
      <span class="content"><button type="button" class="btn btn-light"><a href="/pick/picked"><img src="/assets/cookbutton.jpg"  alt="cook"/></a></button></span>
      <span class="blank"></span>
    </div>
  </body>
</html>